body {
    font-family: 'Roboto',Tahoma,Helvetica,sans-serif;
}

.photo {
    height: 480px;
    max-width: 100%;
    display:block;
        
}

.nav-style {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 15px;
    background: #d6dbdd63;
    font-weight: bold;
    border-radius: 15px;             
    border:  3px solid #12355B;
    margin: 15px;  
     
}
  
.tlo {
    background-color: #ffffff; 
    
}  

.top {

    
}


section {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 15px;
    background: #8f83bd;
    display: block;
    font-weight: bold;
    border-radius: 15px;             
    border:  3px solid #12355B;
    margin: 15px;  
     
}
  
article {
    padding: 10px; 
}
    
header.top {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 15px;  
    color: #D72638;
    background-color: #FF570A;
    display: block;
    font-weight: bold;
    border-radius: 15px;                  
    margin: 15px;
    border:  3px solid #12355B;
        
}
  
h2 {
    color: #1460AA;
}

p {
    color: #cccccc;
}
 

h3 {
  color:#D72638;  
}

footer {
    background: url("/images/czarny-ksiezycowy.jpg");
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 15px;
    color: green;
    background: #420039;
    font-weight: bold;
    display: block;
    font-weight: bold;
    border-radius: 15px;                  
    margin: 15px;
    border:  3px solid #12355B;

}

ul {
    color: #D72638;
    background-color: #FF570A;
    border-radius:  10px; 
}          


#values-js {
    color: #ffffff;
}

.orangutan {
    color: #D72638;
    background-color: #FF570A;
    border-radius:  10px; 
    
}

article.listowe {
    
}